[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:kalins/nvim.git
