snippet div
	<div>${1}</div>
snippet span
	<span>${1}</span>
snippet ul
	<ul>${1}</ul>
snippet li
	<li>${1}</li>
snippet a
	<a>${1}</a>
snippet form
	<form>${1}</form>
snippet input
	<input type="${1}" />
snippet text
	<textarea>${1}</textarea>
snippet label
	<label>${1}</label>
